// Heading Color
$heading: #333333;

// Text Color
$text: #707070;

// Login Form text color
$login-text: #477e80;

// Header Text Color
$header-text: #ffffff;

// Gray Background
$bg-gray: #f5f5f5;

//Light Gray Background
$bg-light-gray: #fafafa;

// Pink Background
$bg-pink: #f8c5d5;

// Primary Color
$primary: #f8c5d5;

// Primary Color
$primary-fade: #fdf4f7;

// White Color
$white: #ffffff;

// Dark Color
$dark: #000;

// Border Color
$border: #7450fe;

// Hover Color
$hover: #00aeef;

// Footer Color
$footer: #191c1d;

// Secondary Color
$secondary: #70c8cb;
